In [ ]:
## By Lucy Lu
## 11/08/2022

In [18]:
import pandas as pd
import os
import re

In [28]:
df_data = pd.read_csv('data/test-10-18-2022-5.csv',low_memory=False)
df_data = df_data.fillna(value='')
df_data.head()

,Unnamed: 0,lab_result_0,CLASS,lab_result,LAB_TEXT,LAB_PREDICT
0,0.0,"Patient: EVANS, DALE JR DUANE MRN: 00127683",,"['Patient : EVANS , DALE JR DUANE MRN : 001276...","Patient : EVANS , DALE JR DUANE MRN : 00127683",
1,1.0,ED Clinical Summary nan,,"['ED Clinical Summary nan', '']",ED Clinical Summary nan,
2,2.0,Hutchinson Regional Medical Center Emergency D...,,['Hutchinson Regional Medical Center Emergency...,Hutchinson Regional Medical Center Emergency D...,
3,3.0,"1701 E 23rd Ave, Hutchinson, KS 67502 nan",,"['1701 E 23rd Ave , Hutchinson , KS 67502 nan'...","1701 E 23rd Ave , Hutchinson , KS 67502 nan",
4,4.0,(620) 665-2000 nan,,"['( 620 ) 665-2000 nan', '']",( 620 ) 665-2000 nan,

In [20]:
df_data[df_data['CLASS']==''].shape, df_data[df_data['CLASS']!=''].shape

((7462, 6), (5536, 6))

In [31]:
df_data['CLASS'] = df_data[['lab_result_0','CLASS']].apply(lambda s: '' if re.sub(r'[^\w]+|\s+','',re.sub(r'\d{1,2}\/\d{1,2}\/\d{1,2}','',re.sub(r'\d{1,2}:\d{1,2}:\d{1,2}','',s[0])))=='' else s[1], axis=1)

df_data['check'] = df_data[['CLASS','LAB_PREDICT']].apply(lambda s:True if (s[0]!='' and s[1]!='') or (s[0]==s[1]=='') else False,axis=1)
print(df_data[df_data['check']].shape, df_data[df_data['check']==False].shape)
print(df_data.head())

(12798, 7) (200, 7)
  Unnamed: 0                                       lab_result_0 CLASS  \
0        0.0    Patient: EVANS, DALE JR DUANE     MRN: 00127683
1        1.0                        ED Clinical Summary     nan
2        2.0  Hutchinson Regional Medical Center Emergency D...
3        3.0      1701 E 23rd Ave, Hutchinson, KS 67502     nan
4        4.0                             (620) 665-2000     nan

                                          lab_result  \
0  ['Patient : EVANS , DALE JR DUANE MRN : 001276...
1                    ['ED Clinical Summary nan', '']
2  ['Hutchinson Regional Medical Center Emergency...
3  ['1701 E 23rd Ave , Hutchinson , KS 67502 nan'...
4                       ['( 620 ) 665-2000 nan', '']

                                            LAB_TEXT LAB_PREDICT  check
0     Patient : EVANS , DALE JR DUANE MRN : 00127683               True
1                            ED Clinical Summary nan               True
2  Hutchinson Regional Medical Center Emergency D...               True
3        1701 E 23rd Ave , Hutchinson , KS 67502 nan               True
4                               ( 620 ) 665-2000 nan               True

In [12]:
df_data[df_data['check']==False][df_data['CLASS']==''].to_csv('data/test-10-18-2022-5-nontest.csv',index=False)
df_data[df_data['check']==False][df_data['CLASS']=='LAB'].to_csv('data/test-10-18-2022-5-test.csv',index=False)

/tmp/ipykernel_151/2884667226.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_data[df_data['check']==False][df_data['CLASS']==''].to_csv('data/test-10-18-2022-5-nontest.csv',index=False)
/tmp/ipykernel_151/2884667226.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_data[df_data['check']==False][df_data['CLASS']=='LAB'].to_csv('data/test-10-18-2022-5-test.csv',index=False)

In [32]:
df_data.to_csv('data/test-10-18-2022-5-validation.csv',index=False)

In [27]:
s = 'Patient: EVANS, DALE JR DUANE     MRN: 00127683'

re.sub(r'[^\w\s]+','',re.sub(r'\d{1,2}\/\d{1,2}\/\d{1,2}','',re.sub(r'\d{1,2}:\d{1,2}:\d{1,2}','',s)))

'Patient EVANS DALE JR DUANE     MRN 00127683'